<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>


            <div class="about content">
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi eius, optio ab iste temporibus aspernatur deserunt tempore consequatur! Dolores quae repellat, non nemo asperiores doloribus eius aperiam obcaecati soluta ullam!</p>
            </div>
            <%- include('./partials/footer.ejs') %>

    </body>

</html>